body {
  font-family: "TTInterfaces-Medium", "sans-serif";
  background-color: var(--base-purple);
}

//Colors

:root {
  --base-purple: #aa8cff;
  --base-black: #151515;
  --base-white: #ececec;
  --light-dark: #212121;
}
