@font-face {
  font-family: "TT Hoves DemiBold";
  src: url("/assets/font/TT Hoves DemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTInterfaces-DemiBold";
  src: url("/assets/font/TTInterfaces-DemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTInterfaces-Medium";
  src: url("/assets/font/TTInterfaces-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
